*{
    background-color: white;
  
}

.nav-items li {
    display: inline;
    margin: 25px;
    padding: 25px;
    text-align: center;
}

h1  { 
    background-color: slategrey;
    font-size: 40px;
    color: darkred;
    text-align: center;
    padding: 35px;
    margin: 30px;
    
    
}

img{
    float: left;
}

h2 {
    font-size: 30px;  
    text-align: center;
}

.game{
    margin: 50px 10px 10px 20px;
    padding: 30px 10px;
    
    
}

.main-para{
    font-size: 20px;
    color: darkblue;
    margin: 10px;
    padding: 15px;
    overflow: auto;
}

p {
    font-size: 14px;
    color: blue;
    font-family: Gerogia, serif;   
}

.my-movies{
  margin: 25px;
}

.top-movies{
  margin: 15px;
}


